{% extends "app.html" %}

{% block title %}Results Page{% endblock title %}

{% block content %}
<h2>test result</h2>
<ul>
    {% for student in students %}
    <li>
        {% if student.score > 80 %}
            ✅ <a href="/{{student.name}}">
                <strong>{{ student.name }}</strong>
            </a>
        {% else %}
            ❎ <a href="/{{student.name}}">
                <strong>{{ student.name }}</strong>
            </a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock content %}
