<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <title>Вхід</title>
</head>

<body>

<h1>Вхід</h1>

<form method="POST">

    <input
        type="text"
        name="username"
        placeholder="Ім'я користувача"
        required
    >

    <br><br>

    <input
        type="password"
        name="password"
        placeholder="Пароль"
        required
    >

    <br><br>

    <button type="submit">
        Увійти
    </button>

</form>

<br>

<a href="/register">
    Створити акаунт
</a>

<br><br>

<a href="/">
    На головну
</a>

</body>

</html>