{% extends "base.html" %}
{% block title %}Вхід{% endblock %}
{% block content %}
    <h1>Вхoд</h1>
    <form method="post" class="form">
        <label>Ім'я користувача
            <input type="text" name="username" required>
        </label>
        <label>Пароль
            <input type="password" name="password" required>
        </label>
        <label class="checkbox">
            <input type="checkbox" name="remember">
            Запам'ятати мене
        </label>
        <button type="submit" class="btn">Увійти</button>
    </form>
    <p>Немає акаунту? <a href="{{ url_for('register') }}">Зареєструватися</a></p>
{% endblock %}