<!DOCTYPE html>
<html lang="uk" class="mesto">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Місто куди я хочу поїхати</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>

  <nav>
    <a class="logo" href="/index">🌐 Мій сайт</a>
    <a href="/index">Головна</a>
    <a href="/about">Про нас</a>
    <a href="/contact" class="active">Контакти</a>
    <a href="/mesto" class="active">Містa</a>
  </nav>

  <main>
    <div class="hero">
    <div style="font-size:2rem">🌍</div>
      <h1>хочете відпочити?</h1>
      <p>Це сторінка про місто, куди я хочу поїхати.<br>
         Тут ти можеш дізнатися цікаві факти про нього, переглянути визначні місця та дізнатися, чому я мрію його відвідати.</p>
    </div>

<div class="card">
    <div style="font-size:2rem">🏙️</div>
    <h3>Париж</h3>
    <p>Столиця Франції, відома Ейфелевою вежею та романтичною атмосферою.</p>
</div>

<div class="card">
    <div style="font-size:2rem">🌴</div>
    <h3>Дубай</h3>
    <p>Сучасне місто в ОАЕ з хмарочосами, пляжами та розкішними торговими центрами.</p>
</div>

<div class="card">
    <div style="font-size:2rem">🏛️</div>
    <h3>Рим</h3>
    <p>Італійське місто з багатою історією, де можна побачити Колізей та інші пам'ятки.</p>
</div>

  </main>

</body>
</html>
